.home-container {
  font-family: Arial;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #111;
  color: white;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: yellow;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #000, #444);
  color: white;
  margin: 20px;
  border-radius: 10px;
}

.shop-btn {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: gold;
  cursor: pointer;
  font-weight: bold;
}

/* PRODUCTS */
.products-section {
  padding: 20px;
}

.product-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card {
  width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}